.carrito {
    width: 70px;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: -35px;
    margin-top: 3px;
    text-align: right;
    display: inline-block;
}

.ItemListContainer {
    background-color: #282c34;
}

.titulo {
    font-size: 45px;
    color: #548aff;
    padding-top: 15px;
}

.items {
    display: inline-block;
    position: absolute;
    margin-left: -5px;
    
    color: rgb(172, 255, 47);
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: 10px;
}