/* cards */

.card__dolares {
    text-align: center;
    width: 300px;
    border: solid;
    border-radius: 5px;
    border-color: greenyellow;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

.dolarNombre {
    font-size: 30px;
    color: greenyellow;
    margin-bottom: 2%;
    margin-top: 2%;
}

.dolarPrecio {
    font-size: 25px;
    color: greenyellow;
    margin-bottom: 10px;
    margin-top: 5px;
}

.dolarFoto {
    height: 200px;
    width: 100%;
    border-top: solid;
    border-bottom: solid;
    border-color: yellowgreen;
}
