.sidebar {
    padding: 1px;
    position: fixed;
    width: 10%;
    height: 10%;
    margin-top: 0;
}

.sidebarDerecha {
    padding: 1px;
    position: fixed;
    right: 2px;
    width: 10%;
    height: 10%;
    margin-top: -4.5%;
    margin-bottom: 50px;
}
.SideContenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.SideFoto {
    width: 130px;
    height: 75px;
    border-radius: 50%;

    
}

.SideNombre {
    color: white;
    font-weight: bold;
}