.pie {
    
    background-color: greenyellow;
    font-family: sans-serif;
    border-top: solid;
    border-color: black;
    border-width: 10px;
    text-align: center;
    z-index: 100;
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    -webkit-box-ordinal-group: 1001;
        -ms-flex-order: 1000;
            order: 1000;
}

img.pie__redes {
    width: 30px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    z-index: 100;
}