.finalizarCompra {
    position: fixed;
    z-index: 1001;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(44, 44, 42, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.finalizarCompra.is-open {
    display: flex;
}

.finalizarContainer {
    position: relative;
    background-color: #548aff;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    padding: 5px;
}

.finalizarClose {
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: greenyellow;
    border-radius: 100%;
    border-color: black;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 30px;
}

.finalizarClose:hover {
    transform: scale(1.1);
}

.suCompra {
    padding-top: 60px;
}

.botonesModal {
    margin-bottom: 10px;
    margin-top: 1%;
    background-color: greenyellow;
    border: solir;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.prefijo {
    width: 40px;
}

.telefono {
    width: 120px;
}